.questions{
background: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 150%;
color: aqua;
}

.answers{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    position: relative;
    font:bold;
    color: rgb(217, 233, 73);
}





.heading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
    position: relative;
    left: 40%;
    top: 0%;
}

#cont{
    background-color: rgba(223, 10, 10, 0.897);  
    position: absolute;
    top:30%; 
    left:30%; 
    width: 50%; 
    height: 65%;

}

#icon{
    size: 20%;
}