.questions{
background: 20px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 150%;
color: rgb(233, 26, 12);

}

.answers{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    position: relative;
    font:bold;
    color: rgb(0, 0, 0);
}





.heading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
    position: relative;
    left: 40%;
    top: 0%;
}

#cont{
    background-color:rgba(255, 255, 255, 0);
    position: absolute;
    top:10%; 
    left:25%; 
    width: 50%; 
    height: 75%;
    box-shadow: 20px;
    background-color: rgb(163, 154, 154);
    opacity: 0.8;
    background-position: 10%;
    box-shadow: 5px 4px rgb(219, 157, 23);
}

#icon{
    size: 20%;
    border: cadetblue;
    background-color: #FFB121;
}

