<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default main">
                      <div class="panel-heading">
                        <h3 class="panel-title">Authentication</h3>
                     </div>
                      <div class="panel-body">
                        <form  class="" #formData='ngForm' >
                        <fieldset>
                              <div class="form-group">
                                <p>An OTP is sent to your registered mobile number </p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="e.g 3026920170" type="text" value="" name="otp" [(ngModel)]="otp">
                            </div><br>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Verify" [disabled]="formData.invalid || busy" id="sign-in-button" (click)="verifyOTP()">
                           &nbsp;
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Resend OTP" id="sign-in-button" (click)="onSubmit()">
                        </fieldset>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>