
<div class="container-fluid ">
        <div class="row wrapper">
          <div class="col-xs-2 col-sm-2 col-md-2 sidebar">  
            <!-- <h4>John's Blog</h4> -->
            <!-- <nav id="sidebar"> -->
                <br>
                <div class="sidebar-header">
                    <h3>Welcome Sree</h3>
                    <span>Last Login:25 August 2018</span>
                    
                </div>
                <br>
                <ul class="list-unstyled components">
                    <li class="active" >
                        <a href="#">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                    </li><br/>
                    <li>
                        <a href="#" >
                            <i class="fas fa-user-circle"></i>
                            View Profile
                        </a>
                    </li><br/>
                   
                    <li>
                        <a href="#">
                            <i class="fas fa-exchange-alt"></i>
                            Fund Transfer
                        </a>
                    </li><br/>
                    <li>
                        <a href="#" >
                            <i class="fas fa-rupee-sign"></i>
                            Savings Account
                        </a>
                    </li><br/>
                    <li>
                        <a href="#" >
                            <i class="fas fa-file-alt"></i>
                            Statement
                        </a>
                    </li><br/>
                    <li>
                        <a href="#" >
                            <i class="fas fa-phone"></i>
                            Contact Us
                        </a>
                    </li><br/>
                    <li>
                        <a href="#" >
                            <i class="fas fa-question"></i>
                           FAQ
                        </a>
                    </li>
        
                </ul>
                
            <!-- </nav> -->
            
          </div>
      
          <div class="col-xs-10 col-sm-10 col-lg-10 header">
                <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                <a href="#about">About</a>
          </div>
          <div class="col-xs-10 col-sm-10 col-lg-10 main">
              <p>Body</p>
           </div>
          <div class="col-xs-10 col-sm-10 col-lg-10 footer">
              <p>Copy rights @NewLabs 2019</p>
           </div>
          
        </div>
      </div>
      